body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.name {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 125px;
}
.half-width {
  width: 50%;
  padding: 40px;
}
.half-width img {
  width: 80%;
}
.contact {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 7px;
}
.banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.head {
  color: palevioletred;
}
.Dream-Big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.time {
  color: navy;
}
.experience-item {
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 4%;
}
.experience-zone {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#bura {
  border-left: 7px solid;
  border-image: linear-gradient(orange, orangered);
  border-image-slice: 1;
}
#baby {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
